.arena
.cache
.local
.mypy_cache
.next
.nox
.npm
.nuxt
.output
.parcel-cache
.pytest_cache
.ruff_cache
.svelte-kit
.tox
.turbo
.venv
.vite
__pycache__
build
coverage
dist
node_modules
out
target
tmp_downloads/
tmp_pip/
*.pyc
.sudo_as_admin_successful
.ssh/
